body {
    background-color: tan;
    text-align:center
}
.start-btn{
    background-color: antiquewhite;
    border-radius: 10px;
    
}

.hide{
    display: none;
}

.count{
    
}

button {
    flex-direction:column;
    
}